<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Bookish - Home</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="jumbotron">
        <h1>Bookish</h1>
        <p class="lead">Welcome to the Bookish application</p>
    </div>
    <div>
        <p>You are logged in as <span th:text="${userLoans.user.username}"></span></p>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Return Date</th>
            </tr>
            <tr th:each="loan: ${userLoans.loans}">
                <td th:text="${loan.getBook().getTitle()}"></td>
                <td th:text="${loan.getBook().getAuthor()}"></td>
                <td th:text="${loan.getEndDate()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
